Repository alopesmendes/SpringRetrievalAugmentedGeneration: changes, and which pre-commit hooks are due for each by the changed paths.
All: ktlint-check, ktlint-format, detekt

.pre-commit-config.yaml:

# Pre-commit configuration for Image RAG Kotlin project
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [pre-commit]
fail_fast: false

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Local hooks for Kotlin linting
  - repo: local
    hooks:
      # ktlint - Code style and formatting
      - id: ktlint-check
        name: ktlint check
        description: Runs ktlint on staged .kt and .kts files
        language: script
        entry: tools/scripts/ktlint-check.sh
        files: \.(kt|kts)$
        pass_filenames: true

      # ktlint format (optional - auto-fix)
      - id: ktlint-format
        name: ktlint format
        description: Auto-formats staged .kt and .kts files with ktlint
        language: script
        entry: tools/scripts/ktlint-format.sh
        files: \.(kt|kts)$
        pass_filenames: true

      # detekt - Static code analysis
      - id: detekt
        name: detekt check
        description: Runs detekt static analysis on staged .kt files
        language: script
        entry: tools/scripts/detekt-check.sh
        files: \.kt$
        pass_filenames: true

:fire: feat(#11): remove changes in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

:heavy_plus_sign: feat(#13): add tests + coverage dependencies
  application/build.gradle.kts
  build.gradle.kts
  domain/build.gradle.kts
  infrastructure/build.gradle.kts
  setup.sh
Due: ktlint-check, ktlint-format

:wrench: feat(#15): add script to prepare-commit-msg.sh
  docs/GIT_CONVENTIONS.md
  setup.sh
  tools/scripts/install-prepare-commit-msg.sh
  tools/scripts/prepare-commit-msg.sh
Due: none

:wrench: feat(#16): add lint workflow
  .github/workflows/Lint.yml
Due: none

:wrench: feat(#19): add build workflow
  .github/workflows/Build.yml
Due: none

:wrench: feat(#21): add test workflow
  .github/workflows/Test.yml
  domain/src/test/kotlin/ExampleTest.kt
  infrastructure/build.gradle.kts
Due: ktlint-check, ktlint-format, detekt

:wrench: feat(#22): add coverage workflow
  .github/workflows/Coverage.yml
  .github/workflows/Test.yml
  README.md
  build.gradle.kts
Due: ktlint-check, ktlint-format

:wrench: feat(#24): add security workflow with dependabot
  .github/dependabot.yml
  .github/workflows/Security.yml
Due: none

:wrench: feat(#23): add analysis workflow
  .github/workflows/Analysis.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:wrench: feat(#23): add analysis workflow (#29)
  .github/workflows/Analysis.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:recycle: feat(#30): refactor test workflow with tasks instead
  .github/workflows/Test.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:recycle: feat(#30): refactor test workflow with tasks instead (#31)
  .github/workflows/Test.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:recycle: feat(#33): refactor coverage workflow with tasks instead
  .github/workflows/Coverage.yml
  .github/workflows/Test.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:recycle: feat(#33): refactor coverage workflow with tasks instead (#34)
  .github/workflows/Coverage.yml
  .github/workflows/Test.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

add CodeQl analysis
  .github/workflows/codeql.yml
Due: none

:recycle: feat(#32): refactor security workflow with tasks instead
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Lint.yml
  .github/workflows/Security.yml
  .github/workflows/codeql.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:recycle: feat(#32): refactor security workflow with tasks instead (#35)
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Lint.yml
  .github/workflows/Security.yml
  .github/workflows/codeql.yml
  build.gradle.kts
Due: ktlint-check, ktlint-format

:bug: fix(#36): upgrade the version of tags releases with renovate
  .github/renovate.json
Due: none

:bug: fix(#36): upgrade the version of tags releases with renovate (#37)
  .github/renovate.json
Due: none

:fire: feat(#52): delete dependabot.yml since use renovate
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
Due: none

:wrench: feat(#52): add Env.yml workflow and doc GITHUB_SETUP.md
  .github/workflows/Env.yml
  docs/GITHUB_SETUP.md
Due: none

:wrench: feat(#52): add configuration with .env to launch application
  config/detekt/detekt.yml
  infrastructure/.gitignore
  infrastructure/env/.env.example
  infrastructure/src/main/kotlin/config/AppConfig.kt
  infrastructure/src/main/resources/application.properties
  infrastructure/src/main/resources/application.yml
Due: ktlint-check, ktlint-format, detekt

Potential fix for code scanning alert no. 16: Code injection
  .github/workflows/Env.yml
Due: none

:adhesive_bandage: fix(#52): use sha for Env.yml actions
  .github/workflows/Env.yml
Due: none

feat(#52): Potential fix for code scanning alert no. 18: Code injection
  .github/workflows/Env.yml
Due: none

🔧 feat(#52): flavors (#55)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/Env.yml
  config/detekt/detekt.yml
  docs/GITHUB_SETUP.md
  infrastructure/.gitignore
  infrastructure/env/.env.example
  infrastructure/src/main/kotlin/config/AppConfig.kt
  infrastructure/src/main/resources/application.properties
  infrastructure/src/main/resources/application.yml
Due: ktlint-check, ktlint-format, detekt

:memo: chore(#25): rewrite documentation
  README.md
  docs/API_CONTRACTS.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/DOMAIN_MODEL.md
  docs/GITHUB_SETUP.md
  docs/GIT_CONVENTIONS.md
  docs/LINTING.md
Due: none

:wrench: feat(#25): add files for render
  .dockerignore
  .github/workflows/Deploy.yml
  Dockerfile
  docs/GITHUB_SETUP.md
  infrastructure/env/.env.example
  infrastructure/src/main/kotlin/config/AppConfig.kt
  render.yaml
Due: ktlint-check, ktlint-format, detekt

🔧 feat(#25): workflow deploy (#56)
  .dockerignore
  .github/workflows/Deploy.yml
  Dockerfile
  README.md
  docs/API_CONTRACTS.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/DOMAIN_MODEL.md
  docs/GITHUB_SETUP.md
  docs/GIT_CONVENTIONS.md
  docs/LINTING.md
  infrastructure/env/.env.example
  infrastructure/src/main/kotlin/config/AppConfig.kt
  render.yaml
Due: ktlint-check, ktlint-format, detekt

:recycle: feat(#51): update order of workflows
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Coverage.yml
  .github/workflows/Deploy.yml
  .github/workflows/Test.yml
  docs/GITHUB_SETUP.md
Due: none

:recycle: feat(#51): update order of workflows
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Coverage.yml
  .github/workflows/Deploy.yml
  .github/workflows/Env.yml
  .github/workflows/Lint.yml
  .github/workflows/Security.yml
  .github/workflows/Test.yml
  docs/GITHUB_SETUP.md
  infrastructure/env/.env.example
Due: none

:recycle: feat(#51): update order of workflows (#59)
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Coverage.yml
  .github/workflows/Deploy.yml
  .github/workflows/Env.yml
  .github/workflows/Lint.yml
  .github/workflows/Security.yml
  .github/workflows/Test.yml
  docs/GITHUB_SETUP.md
  infrastructure/env/.env.example
Due: none

:bug: fix: add project token
  .github/workflows/Deploy.yml
  .github/workflows/Env.yml
Due: none

Potential fix for code scanning alert no. 26: Workflow does not contain permissions
  .github/workflows/Env.yml
Due: none

Potential fix for code scanning alert no. 26: Workflow does not contain permissions (#60)
  .github/workflows/Env.yml
Due: none

:bug: fix: fiw critical warning coverage
  .github/workflows/Coverage.yml
Due: none

:bug: fix: fiw critical warning coverage (#61)
  .github/workflows/Coverage.yml
Due: none

:wrench: feat(#62): unified workflow
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Ci.yml
  .github/workflows/Coverage.yml
  .github/workflows/Deploy.yml
  .github/workflows/Lint.yml
  .github/workflows/Security.yml
  .github/workflows/Test.yml
  README.md
Due: none

:wrench: feat(#62): unified workflow (#63)
  .github/workflows/Analysis.yml
  .github/workflows/Build.yml
  .github/workflows/Ci.yml
  .github/workflows/Coverage.yml
  .github/workflows/Deploy.yml
  .github/workflows/Lint.yml
  .github/workflows/Security.yml
  .github/workflows/Test.yml
  README.md
Due: none

:adhesive_bandage: fix: be able to deploy
  .github/workflows/Ci.yml
  .github/workflows/Deploy.yml
  .github/workflows/Env.yml
  Dockerfile
Due: none
