Repository alopesmendes/SpringRetrievalAugmentedGeneration: changes, and which pre-commit hooks are due for each by the changed paths.
All: ktlint-check, ktlint-format, detekt

ktlint-check:
  name: ktlint check
  description: Runs ktlint on staged .kt and .kts files
  language: script
  entry: tools/scripts/ktlint-check.sh
  pass_filenames: true

ktlint-format:
  name: ktlint format
  description: Auto-formats staged .kt and .kts files with ktlint
  language: script
  entry: tools/scripts/ktlint-format.sh
  pass_filenames: true

detekt:
  name: detekt check
  description: Runs detekt static analysis on staged .kt files
  language: script
  entry: tools/scripts/detekt-check.sh
  pass_filenames: true

:adhesive_bandage: fix: be able to deploy
  .github/workflows/Deploy.yml
  .github/workflows/Env.yml
  config/detekt/detekt.yml
  infrastructure/build.gradle.kts
  infrastructure/src/main/kotlin/config/SecurityConfig.kt
  infrastructure/src/main/resources/application.yml
Due: ktlint-check, ktlint-format, detekt

:memo: docs(#65): update the documentation
  README.md
  docs/API_CONTRACTS.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/DOMAIN_MODEL.md
  docs/GITHUB_SETUP.md
  docs/GIT_CONVENTIONS.md
  docs/LINTING.md
  docs/RULES.md
  docs/TEST_STRATEGY.md
  infrastructure/env/.env.example
Due: none

:wrench: feat(#65): add wiki workflow
  .github/workflows/Wiki.yml
Due: none

:heavy_plus_sign: feat(#65): add open api + commons-lang (security vulnerability)
  infrastructure/build.gradle.kts
Due: ktlint-check, ktlint-format

:wrench: feat(#65): configure open api
  infrastructure/src/main/kotlin/config/OpenApiConfig.kt
  infrastructure/src/main/kotlin/config/SecurityConfig.kt
  infrastructure/src/main/resources/application.yml
Due: ktlint-check, ktlint-format, detekt

:memo: feat(#65): write project documentation (#66)
  .github/workflows/Wiki.yml
  README.md
  docs/API_CONTRACTS.md
  docs/ARCHITECTURE.md
  docs/DEPENDENCIES.md
  docs/DOMAIN_MODEL.md
  docs/GITHUB_SETUP.md
  docs/GIT_CONVENTIONS.md
  docs/LINTING.md
  docs/RULES.md
  docs/TEST_STRATEGY.md
  infrastructure/build.gradle.kts
  infrastructure/env/.env.example
  infrastructure/src/main/kotlin/config/OpenApiConfig.kt
  infrastructure/src/main/kotlin/config/SecurityConfig.kt
  infrastructure/src/main/resources/application.yml
Due: ktlint-check, ktlint-format, detekt

:adhesive_bandage: fix: workflow Wiki.yml
  .github/workflows/Wiki.yml
Due: none

:heavy_plus_sign: feat(#69): add konsist for all subprojects
  build.gradle.kts
Due: ktlint-check, ktlint-format

:rotating_light: feat(#69): update detekt.yml to ignore tests
  config/detekt/detekt.yml
Due: none

:sparkles: feat(#69): add domain annotations
  domain/src/main/kotlin/annotation/DomainEntity.kt
  domain/src/main/kotlin/annotation/DomainService.kt
  domain/src/main/kotlin/annotation/ValueObject.kt
Due: ktlint-check, ktlint-format, detekt

:white_check_mark: feat(#69): add archi tests
  application/src/test/kotlin/architecture/ApplicationArchitectureTest.kt
  build.gradle.kts
  domain/src/test/kotlin/architecture/DomainArchitectureTest.kt
  infrastructure/build.gradle.kts
  infrastructure/src/test/kotlin/architecture/InfrastructureArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

✅ feat(#69) archi tests (#71)
  application/src/test/kotlin/architecture/ApplicationArchitectureTest.kt
  build.gradle.kts
  config/detekt/detekt.yml
  domain/src/main/kotlin/annotation/DomainEntity.kt
  domain/src/main/kotlin/annotation/DomainService.kt
  domain/src/main/kotlin/annotation/ValueObject.kt
  domain/src/test/kotlin/architecture/DomainArchitectureTest.kt
  infrastructure/build.gradle.kts
  infrastructure/src/test/kotlin/architecture/InfrastructureArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

:heavy_plus_sign: feat(#73): add unit test library's for all subprojects
  application/build.gradle.kts
  build.gradle.kts
  domain/build.gradle.kts
  infrastructure/build.gradle.kts
Due: ktlint-check, ktlint-format

:recycle: feat(#73): update annotations comments
  config/detekt/detekt.yml
  domain/src/main/kotlin/annotation/DomainEntity.kt
  domain/src/main/kotlin/annotation/DomainService.kt
  domain/src/main/kotlin/annotation/ValueObject.kt
Due: ktlint-check, ktlint-format, detekt

:white_check_mark: feat(#73): update domain archi tests
  domain/src/test/kotlin/architecture/DomainArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the Age
  domain/src/main/kotlin/user/valueobjects/Age.kt
  domain/src/test/kotlin/user/valueobjects/AgeTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the Name
  domain/src/main/kotlin/user/valueobjects/Name.kt
  domain/src/test/kotlin/user/valueobjects/NameTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the UserId
  domain/src/main/kotlin/user/valueobjects/UserId.kt
  domain/src/test/kotlin/user/valueobjects/UserIdTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the Email
  domain/src/main/kotlin/user/valueobjects/Email.kt
  domain/src/test/kotlin/user/valueobjects/EmailTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the PasswordHash
  domain/src/main/kotlin/user/valueobjects/PasswordHash.kt
  domain/src/test/kotlin/user/valueobjects/PasswordHashTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the User
  domain/src/main/kotlin/user/entity/User.kt
  domain/src/test/kotlin/user/entity/UserTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): create the PasswordService
  domain/src/main/kotlin/user/services/PasswordService.kt
  domain/src/test/kotlin/user/services/PasswordServiceTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#73): user domain (v1) (#76)
  application/build.gradle.kts
  build.gradle.kts
  config/detekt/detekt.yml
  domain/build.gradle.kts
  domain/src/main/kotlin/annotation/DomainEntity.kt
  domain/src/main/kotlin/annotation/DomainService.kt
  domain/src/main/kotlin/annotation/ValueObject.kt
  domain/src/main/kotlin/user/entity/User.kt
  domain/src/main/kotlin/user/services/PasswordService.kt
  domain/src/main/kotlin/user/valueobjects/Age.kt
  domain/src/main/kotlin/user/valueobjects/Email.kt
  domain/src/main/kotlin/user/valueobjects/Name.kt
  domain/src/main/kotlin/user/valueobjects/PasswordHash.kt
  domain/src/main/kotlin/user/valueobjects/UserId.kt
  domain/src/test/kotlin/architecture/DomainArchitectureTest.kt
  domain/src/test/kotlin/user/entity/UserTest.kt
  domain/src/test/kotlin/user/services/PasswordServiceTest.kt
  domain/src/test/kotlin/user/valueobjects/AgeTest.kt
  domain/src/test/kotlin/user/valueobjects/EmailTest.kt
  domain/src/test/kotlin/user/valueobjects/NameTest.kt
  domain/src/test/kotlin/user/valueobjects/PasswordHashTest.kt
  domain/src/test/kotlin/user/valueobjects/UserIdTest.kt
  infrastructure/build.gradle.kts
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#77): create primary/secondary ports for user
  application/src/main/kotlin/user/mapper/UserMapper.kt
  application/src/main/kotlin/user/port/primary/ICreateUserUseCase.kt
  application/src/main/kotlin/user/port/primary/IGetUserUseCase.kt
  application/src/main/kotlin/user/port/primary/IUpdateUserUseCase.kt
  application/src/main/kotlin/user/port/secondary/IPasswordHasherService.kt
  application/src/main/kotlin/user/port/secondary/IUserRepository.kt
  application/src/main/kotlin/user/useCases/CreateUserUseCase.kt
  application/src/main/kotlin/user/useCases/GetUserUseCase.kt
  application/src/main/kotlin/user/useCases/UpdateUserUseCase.kt
  application/src/test/kotlin/architecture/ApplicationArchitectureTest.kt
  application/src/test/kotlin/user/mapper/UserMapperTest.kt
  application/src/test/kotlin/user/useCases/CreateUserUseCaseTest.kt
  application/src/test/kotlin/user/useCases/GetUserUseCaseTest.kt
  application/src/test/kotlin/user/useCases/UpdateUserUseCaseTest.kt
  domain/src/main/kotlin/user/exception/UserException.kt
  domain/src/test/kotlin/architecture/DomainArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

:art: feat(#77): create command, result and mapper for User
  application/src/main/kotlin/user/dto/CreateUserCommand.kt
  application/src/main/kotlin/user/dto/GetUserCommand.kt
  application/src/main/kotlin/user/dto/UpdateUserCommand.kt
  application/src/main/kotlin/user/dto/UserResult.kt
  application/src/main/kotlin/user/mapper/UserMapper.kt
  application/src/test/kotlin/user/mapper/UserMapperTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#77): user application (#80)
  application/src/main/kotlin/user/dto/CreateUserCommand.kt
  application/src/main/kotlin/user/dto/GetUserCommand.kt
  application/src/main/kotlin/user/dto/UpdateUserCommand.kt
  application/src/main/kotlin/user/dto/UserResult.kt
  application/src/main/kotlin/user/mapper/UserMapper.kt
  application/src/main/kotlin/user/port/primary/ICreateUserUseCase.kt
  application/src/main/kotlin/user/port/primary/IGetUserUseCase.kt
  application/src/main/kotlin/user/port/primary/IUpdateUserUseCase.kt
  application/src/main/kotlin/user/port/secondary/IPasswordHasherService.kt
  application/src/main/kotlin/user/port/secondary/IUserRepository.kt
  application/src/main/kotlin/user/useCases/CreateUserUseCase.kt
  application/src/main/kotlin/user/useCases/GetUserUseCase.kt
  application/src/main/kotlin/user/useCases/UpdateUserUseCase.kt
  application/src/test/kotlin/architecture/ApplicationArchitectureTest.kt
  application/src/test/kotlin/user/mapper/UserMapperTest.kt
  application/src/test/kotlin/user/useCases/CreateUserUseCaseTest.kt
  application/src/test/kotlin/user/useCases/GetUserUseCaseTest.kt
  application/src/test/kotlin/user/useCases/UpdateUserUseCaseTest.kt
  domain/src/main/kotlin/user/exception/UserException.kt
  domain/src/test/kotlin/architecture/DomainArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): create user controller
  infrastructure/src/integrationTest/kotlin/user/adapter/primary/rest/UserControllerIntegrationTest.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/UserController.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): create hasher service + repository (temp)
  infrastructure/src/integrationTest/kotlin/user/adapter/secondary/security/BCryptPasswordHasherServiceTest.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/MongoUserRepository.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/security/BCryptPasswordHasherService.kt
  infrastructure/src/test/kotlin/user/adapter/secondary/security/BCryptPasswordHasherServiceTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): create the mapper
  infrastructure/src/main/kotlin/user/adapter/primary/rest/mapper/UserRestMapper.kt
  infrastructure/src/test/kotlin/user/adapter/primary/rest/mapper/UserRestMapperTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): create + update configuration
  infrastructure/build.gradle.kts
  infrastructure/src/integrationTest/kotlin/config/OpenApiConfigIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/config/SecurityConfigIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/user/config/UserBeanConfigIntegrationTest.kt
  infrastructure/src/main/kotlin/config/OpenApiConfig.kt
  infrastructure/src/main/kotlin/config/SecurityConfig.kt
  infrastructure/src/main/kotlin/user/config/UserBeanConfig.kt
  infrastructure/src/test/kotlin/architecture/InfrastructureArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): create controller exception handler
  infrastructure/src/integrationTest/kotlin/error/rest/GlobalExceptionHandlerIntegrationTest.kt
  infrastructure/src/main/kotlin/error/rest/GlobalExceptionHandler.kt
  infrastructure/src/test/kotlin/architecture/InfrastructureArchitectureTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): create the dto
  infrastructure/src/main/kotlin/error/rest/dto/ErrorResponseDto.kt
  infrastructure/src/main/kotlin/error/rest/dto/FieldErrorDto.kt
  infrastructure/src/main/kotlin/error/rest/dto/ValidationErrorResponseDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/dto/CreateUserRequestDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/dto/UpdateUserRequestDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/dto/UserResponseDto.kt
Due: ktlint-check, ktlint-format, detekt

Potential fix for code scanning alert no. 35: Disabled Spring CSRF protection
  infrastructure/src/main/kotlin/config/SecurityConfig.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#78): user infrastructure (#82)
  infrastructure/build.gradle.kts
  infrastructure/src/integrationTest/kotlin/config/OpenApiConfigIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/config/SecurityConfigIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/error/rest/GlobalExceptionHandlerIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/user/adapter/primary/rest/UserControllerIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/user/adapter/secondary/security/BCryptPasswordHasherServiceTest.kt
  infrastructure/src/integrationTest/kotlin/user/config/UserBeanConfigIntegrationTest.kt
  infrastructure/src/main/kotlin/config/OpenApiConfig.kt
  infrastructure/src/main/kotlin/config/SecurityConfig.kt
  infrastructure/src/main/kotlin/error/rest/GlobalExceptionHandler.kt
  infrastructure/src/main/kotlin/error/rest/dto/ErrorResponseDto.kt
  infrastructure/src/main/kotlin/error/rest/dto/FieldErrorDto.kt
  infrastructure/src/main/kotlin/error/rest/dto/ValidationErrorResponseDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/UserController.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/dto/CreateUserRequestDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/dto/UpdateUserRequestDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/dto/UserResponseDto.kt
  infrastructure/src/main/kotlin/user/adapter/primary/rest/mapper/UserRestMapper.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/MongoUserRepository.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/security/BCryptPasswordHasherService.kt
  infrastructure/src/main/kotlin/user/config/UserBeanConfig.kt
  infrastructure/src/test/kotlin/architecture/InfrastructureArchitectureTest.kt
  infrastructure/src/test/kotlin/user/adapter/primary/rest/mapper/UserRestMapperTest.kt
  infrastructure/src/test/kotlin/user/adapter/secondary/security/BCryptPasswordHasherServiceTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#3): mongodb in place
  .github/workflows/Test.yml
  docs/INTEGRATION_TESTS_TROUBLESHOOTING.md
  infrastructure/build.gradle.kts
  infrastructure/src/integrationTest/kotlin/AbstractMongoIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/user/adapter/secondary/persistence/UserRepositoryIntegrationTest.kt
  infrastructure/src/main/kotlin/ImageRetrievalAugmentedGeneration.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/MongoUserRepository.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/UserRepository.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/document/UserDocument.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/mapper/UserPersistenceMapper.kt
  infrastructure/src/main/resources/application-test.yml
  infrastructure/src/main/resources/application.yml
  infrastructure/src/test/kotlin/user/adapter/secondary/persistence/mapper/UserPersistenceMapperTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#3): mongodb in place (#85)
  .github/workflows/Test.yml
  docs/INTEGRATION_TESTS_TROUBLESHOOTING.md
  infrastructure/build.gradle.kts
  infrastructure/src/integrationTest/kotlin/AbstractMongoIntegrationTest.kt
  infrastructure/src/integrationTest/kotlin/user/adapter/secondary/persistence/UserRepositoryIntegrationTest.kt
  infrastructure/src/main/kotlin/ImageRetrievalAugmentedGeneration.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/MongoUserRepository.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/UserRepository.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/document/UserDocument.kt
  infrastructure/src/main/kotlin/user/adapter/secondary/persistence/mapper/UserPersistenceMapper.kt
  infrastructure/src/main/resources/application-test.yml
  infrastructure/src/main/resources/application.yml
  infrastructure/src/test/kotlin/user/adapter/secondary/persistence/mapper/UserPersistenceMapperTest.kt
Due: ktlint-check, ktlint-format, detekt

:sparkles: feat(#3): update CI for environnement variables
  .github/workflows/Ci.yml
  .github/workflows/Coverage.yml
  .github/workflows/Env.yml
  .github/workflows/Test.yml
  .github/workflows/Wiki.yml
Due: none

:sparkles: feat(#3): serveless database with mongodb (#88)
  .github/workflows/Ci.yml
  .github/workflows/Coverage.yml
  .github/workflows/Env.yml
  .github/workflows/Test.yml
  .github/workflows/Wiki.yml
Due: none

:art: feat(#119): add agents
  .claude/agents/code-reviewer.md
  .claude/agents/doc-graph-updater.md
  .claude/agents/docs-lookup.md
  .claude/agents/hexagonal-arch-planner.md
  .claude/agents/hexagonal-arch-scaffolder.md
  .claude/agents/security-engineer.md
  .claude/agents/test-automator.md
Due: none

Path conditions:
  ktlint-check: any of: \.(kt|kts)$
  ktlint-format: any of: \.(kt|kts)$
  detekt: any of: \.kt$
